asgiref==3.10.0
boto3==1.40.74
botocore==1.40.74
diff-match-patch==20241021
Django==5.2.8
django-import-export==4.3.14
django-storages==1.14.6
djangorestframework==3.16.1
greenlet==3.2.4
jmespath==1.0.1
mangum==0.19.0
pillow==12.0.0
playwright==1.56.0
psycopg2-binary==2.9.11
pyee==13.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
tablib==3.9.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
